# Frontend
frontend/node_modules/
frontend/build/

# Backend
backend/target/
backend/.mvn/

# Environment / secrets
backend/src/main/resources/application.properties

# IDE files
.idea/
*.iml
.vscode/